/* 
body : font-family: 'Albert Sans', sans-serif;
headers : font-family: 'Belanosima', sans-serif;
*/

html {
    font-family: 'Albert Sans', sans-serif;
    font-size: 20px;
    color: #0f0f0f;
    background-color: #fff8fa;
}

nav {
    background-color: #fb7b9b;
    text-align: center;
    margin-bottom: 30px;
}

nav li {
    display: inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    text-decoration: none;
}

nav a:hover,
nav a:active {
    background-color: #faa8bd;
    color: #fc4c78;
    text-decoration: underline;
}

main {
    width: 80%;
    margin: 0 auto;
}

main h1 {
    color: #fc4c78;
    text-align: center;
}

main img {
    border: 5px dashed #faa8bd;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

main p {
    text-align: center;
    letter-spacing: .5px;
    color: #fc4c78;
}

h1, h2, h3 {
    font-family: 'Belanosima', sans-serif;
    text-shadow: 1px 2px 1px #c4b4b8
}

.assignments h2 {
    color: #fc4c78;
}

.assignments a:link {
    text-decoration: none;
    color: #0f0f0f;
    text-align: center;
}

.assignments a:visited {
    color: #fc4c78
}
.assignments a:hover,
.assignments a:active {
    color: #faa8bd;
    text-decoration: underline;
}

.assignments ul {
    color: #fc4c78;
}

footer {
    background-color: #fccad6;
    color: #fc4c78;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 10px;
}

footer p {
    text-align: center;
    margin-bottom: 2px;
}

footer a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 0;
    color: #fc4c78
} 

footer a:link,
footer a:visited {
    text-decoration: none;
    color: #fc4c78;
}

footer a:hover,
footer a:active {
    color: #fb7b9b;
    text-decoration: underline;
}


footer ul {
    list-style-type: none;
}