/* 
font-family: 'Chonburi', serif; 
font-family: 'Actor', sans-serif;
*/

html {
    box-sizing: border-box;
    font-family: 'Actor', sans-serif;
    font-size: 1.20rem;
    line-height: 125%;
    color: #50504f;
}

*, 
* ::before, 
* ::after {
    box-sizing: inherit;
}

nav {
    background-color: #c98226;
    text-align: center;
    margin-bottom: 3.5rem;
}

nav li {
    display: inline;
}

nav a {
    padding: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:link,
nav a:visited {
    text-decoration: none;
}

nav a:hover,
nav a:active {
    background-color: #efc58e;
    color: #50504f;
    text-decoration: underline;
}
